## Clean the raw wine data files

In [1]:
# Import packages:

import pandas as pd
import numpy as np

In [2]:
# Load datasets:

red_wine_details = pd.read_csv('/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Raw_Data/redwinerawdata.csv', encoding='utf-8')
red_wine_reviews = pd.read_csv('/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Raw_Data/redreviewsrawdata.csv', encoding='utf-8')
white_wine_details = pd.read_csv('/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Raw_Data/whitewinerawdata.csv', encoding='utf-8')
white_wine_reviews = pd.read_csv('/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Raw_Data/whitereviewsrawdata.csv', encoding='utf-8')

In [3]:
red_wine_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11510 entries, 0 to 11509
Data columns (total 9 columns):
Unnamed: 0      11510 non-null int64
index           11510 non-null int64
Unnamed: 0.1    11510 non-null int64
0               11510 non-null object
1               11510 non-null object
2               11510 non-null object
3               11510 non-null object
4               11510 non-null object
5               11510 non-null object
dtypes: int64(3), object(6)
memory usage: 809.4+ KB

# Work with red wine details file first.

In [3]:
del red_wine_details['index']
del red_wine_details['Unnamed: 0.1']

red_wine_details.rename(columns={'Unnamed: 0': 'wine_index', 
                                 '0': 'redwine', 
                                 '1': 'red_wineries', 
                                 '2': 'red_regions', 
                                 '3': 'red_countries', 
                                 '4': 'red_avg_wine_ratings', 
                                 '5': 'red_avg_price'}, inplace=True)

# clean up the price and ratings columns
red_wine_details['red_avg_price'] = red_wine_details['red_avg_price'].map(lambda value: value.split(
        "[u'\\nAvg. Price: $")[1].split("\\")[0])
red_wine_details['red_avg_wine_ratings'] = red_wine_details['red_avg_wine_ratings'].map(
    lambda value: value.split("[u'\\nAvg. Rating: ")[1].split("\\")[0])

In [4]:
print red_wine_details['red_wineries'][red_wine_details['red_wineries'] == '[]']
print red_wine_details['red_regions'][red_wine_details['red_regions'] == '[]']
print red_wine_details['red_countries'][red_wine_details['red_countries'] == '[]']

2141    []
2165    []
3047    []
9208    []
9232    []
9492    []
9918    []
Name: red_wineries, dtype: object
1210     []
2141     []
2165     []
2186     []
2928     []
4297     []
6141     []
10549    []
10631    []
Name: red_regions, dtype: object
1210     []
2141     []
2165     []
2186     []
2928     []
4297     []
6141     []
10549    []
10631    []
Name: red_countries, dtype: object

In [5]:
# There are some missing wineries, regions and countries. I will convert them to NaN values.

def null_values(value):
    if '[]' in value:
            return np.nan
    else:
        try:
            return str(value).replace("[u'",'').replace("']",'')
        except:
            return value

red_wine_details['red_wineries'] = red_wine_details['red_wineries'].map(null_values)
red_wine_details['red_regions'] = red_wine_details['red_regions'].map(null_values)
red_wine_details['red_countries'] = red_wine_details['red_countries'].map(null_values)

In [6]:
def no_c(value):
    return value.replace(',','')

def convert_to_float(value):
    return float(value)

red_wine_details['red_avg_price'] = red_wine_details['red_avg_price'].map(no_c)
red_wine_details['red_avg_price'] = red_wine_details['red_avg_price'].map(convert_to_float)
red_wine_details['red_avg_wine_ratings'] = red_wine_details['red_avg_wine_ratings'].map(convert_to_float)

In [7]:
# split out the year from the wine name where available
redwine = red_wine_details.redwine.map(lambda x: eval(x)[0]).values
redwine = map(lambda x: ''.join([ch for ch in x if ch in ' 0123456789']), redwine)
redwine = map(lambda x: x.split(' '), redwine)
redwine = map(lambda x: [s for s in x if len(s) == 4], redwine)
redwine = map(lambda x: int(x[-1]) if len(x) > 0 else np.NaN, redwine)
redwine[0:20]

[1999,
 2006,
 1961,
 2011,
 1999,
 2011,
 1990,
 2010,
 2007,
 2010,
 1999,
 2006,
 1961,
 2011,
 1999,
 2011,
 1990,
 2010,
 2007,
 2010]

In [8]:
red_wine_details['vintage_year'] = redwine

In [9]:
# clean up the wine names as well
red_wine_details['redwine'] = red_wine_details['redwine'].map(null_values)

In [10]:
red_wine_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11510 entries, 0 to 11509
Data columns (total 8 columns):
wine_index              11510 non-null int64
redwine                 11510 non-null object
red_wineries            11503 non-null object
red_regions             11501 non-null object
red_countries           11501 non-null object
red_avg_wine_ratings    11510 non-null float64
red_avg_price           11510 non-null float64
vintage_year            9852 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 719.4+ KB

In [11]:
red_wine_details.head()

,wine_index,redwine,red_wineries,red_regions,red_countries,red_avg_wine_ratings,red_avg_price,vintage_year
0,0,La T\xe2che 1999,Domaine de la Roman\xe9e-Conti,C\xf4te de Nuits,France,4.9,4894.99,1999.0
1,1,Richebourg 2006,Domaine de la Roman\xe9e-Conti,C\xf4te de Nuits,France,4.9,1699.98,2006.0
2,2,Pessac-Leognan Premier Grand Cru Class\xe9 1961,Ch\xe2teau Haut-Brion,Pessac-Leognan,France,4.9,4146.94,1961.0
3,3,Roman\xe9e-Conti 2011,Domaine de la Roman\xe9e-Conti,C\xf4te de Nuits,France,4.8,11850.00,2011.0
4,4,C\xf4te-R\xf4tie La Mouline 1999,E. Guigal,Northern Rh\xf4ne,France,4.8,698.99,1999.0

# Do the same cleaning for the white wine details:

In [12]:
del white_wine_details['index']
del white_wine_details['Unnamed: 0.1']

white_wine_details.rename(columns={'Unnamed: 0': 'wine_index', 
                                 '0': 'white_wine', 
                                 '1': 'white_wineries', 
                                 '2': 'white_regions', 
                                 '3': 'white_countries', 
                                 '4': 'white_avg_wine_ratings', 
                                 '5': 'white_avg_price'}, inplace=True)

In [13]:
print white_wine_details['white_wine'][white_wine_details['white_wine'] == '[]']
print white_wine_details['white_wineries'][white_wine_details['white_wineries'] == '[]']
print white_wine_details['white_regions'][white_wine_details['white_regions'] == '[]']
print white_wine_details['white_countries'][white_wine_details['white_countries'] == '[]']
print white_wine_details['white_avg_wine_ratings'][white_wine_details['white_avg_wine_ratings'] == '[]']
print white_wine_details['white_avg_price'][white_wine_details['white_avg_price'] == '[]']

6687    []
Name: white_wine, dtype: object
638     []
2054    []
2861    []
2889    []
3109    []
3279    []
4671    []
5235    []
5287    []
5855    []
6687    []
6961    []
7057    []
7420    []
7576    []
7825    []
8117    []
8445    []
8596    []
9187    []
9291    []
9502    []
Name: white_wineries, dtype: object
211     []
219     []
511     []
546     []
606     []
638     []
905     []
1446    []
1579    []
2054    []
2113    []
2705    []
2861    []
2940    []
3078    []
3109    []
3279    []
3530    []
3761    []
4671    []
5287    []
5593    []
5666    []
5696    []
5732    []
5846    []
5855    []
6410    []
6529    []
6687    []
6929    []
6961    []
7079    []
7266    []
7547    []
7576    []
7797    []
7825    []
8029    []
8091    []
8142    []
8275    []
8445    []
8596    []
8609    []
8644    []
9187    []
9291    []
9413    []
9437    []
9502    []
Name: white_regions, dtype: object
211     []
219     []
511     []
546     []
606     []
638     []
905     []
1446    []
1579    []
2054    []
2113    []
2705    []
2861    []
2940    []
3078    []
3109    []
3279    []
3530    []
3761    []
4671    []
5287    []
5593    []
5666    []
5696    []
5732    []
5846    []
5855    []
6410    []
6529    []
6687    []
6929    []
6961    []
7079    []
7266    []
7547    []
7576    []
7797    []
7825    []
8029    []
8091    []
8142    []
8275    []
8445    []
8596    []
8609    []
8644    []
9187    []
9291    []
9413    []
9437    []
9502    []
Name: white_countries, dtype: object
6687    []
Name: white_avg_wine_ratings, dtype: object
375     []
1153    []
1373    []
2705    []
3095    []
3304    []
3907    []
4335    []
4464    []
4533    []
4892    []
4993    []
5523    []
6082    []
6654    []
6687    []
6766    []
6910    []
7530    []
7923    []
7999    []
8672    []
8766    []
9147    []
9276    []
9348    []
9736    []
9887    []
Name: white_avg_price, dtype: object

In [14]:
# There are missing values in all of the white wine columns. I will clean them up and convert to NaN values. 
def null_values(value):
    if '[]' in value:
            return np.nan
    else:
        try:
            return str(value).replace("[u'",'').replace("']",'')
        except:
            return value

        
white_wine_details['white_wineries'] = white_wine_details['white_wineries'].map(null_values)
white_wine_details['white_regions'] = white_wine_details['white_regions'].map(null_values)
white_wine_details['white_countries'] = white_wine_details['white_countries'].map(null_values)

In [15]:
def trysplit(value):
    try:
        return value.split("[u'\\nAvg. Price: $")[1].split("\\")[0]
    except:
        return np.nan
    
def trysplit2(value):
    try:
        return value.split("[u'\\nAvg. Rating: ")[1].split("\\")[0]
    except:
        return np.nan

def no_c2(value):
    try:
        return value.replace(',','')
    except:
        return value
        
white_wine_details['white_avg_price'] = white_wine_details['white_avg_price'].map(trysplit)
white_wine_details['white_avg_wine_ratings'] = white_wine_details['white_avg_wine_ratings'].map(trysplit2)
white_wine_details['white_avg_price'] = white_wine_details['white_avg_price'].map(no_c2)
white_wine_details['white_avg_price'] = white_wine_details['white_avg_price'].map(convert_to_float)
white_wine_details['white_avg_wine_ratings'] = white_wine_details['white_avg_wine_ratings'].map(convert_to_float)

In [16]:
# split out year from the wine name where available
def try_extract_name(x):
    try:
        return eval(x)[0]
    except:
        return ''

white_wine = white_wine_details.white_wine.map(try_extract_name).values
white_wine = map(lambda x: ''.join([ch for ch in x if ch in ' 0123456789']), white_wine)
white_wine = map(lambda x: x.split(' '), white_wine)
white_wine = map(lambda x: [s for s in x if len(s) == 4], white_wine)
white_wine = map(lambda x: int(x[-1]) if len(x) > 0 else np.NaN, white_wine)
white_wine[0:20]

[nan,
 nan,
 2013,
 2014,
 2013,
 nan,
 2011,
 2013,
 2014,
 nan,
 2005,
 nan,
 2014,
 2015,
 2006,
 2015,
 2014,
 2005,
 nan,
 nan]

In [17]:
white_wine_details['vintage_year'] = white_wine

In [18]:
# clean up the wine name
white_wine_details['white_wine'] = white_wine_details['white_wine'].map(null_values)

In [19]:
white_wine_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9899 entries, 0 to 9898
Data columns (total 8 columns):
wine_index                9899 non-null int64
white_wine                9898 non-null object
white_wineries            9877 non-null object
white_regions             9848 non-null object
white_countries           9848 non-null object
white_avg_wine_ratings    9898 non-null float64
white_avg_price           9871 non-null float64
vintage_year              6290 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 618.8+ KB

# Clean up reviews data:

In [20]:
del red_wine_reviews['Unnamed: 0.1']
del red_wine_reviews['Unnamed: 0']

red_wine_reviews.rename(columns={'index': 'review_index', 
                                 '0': 'red_wine', 
                                 '1': 'red_user', 
                                 '2': 'red_review'}, inplace=True)

In [21]:
def no_n(value):
    try:
        return value.replace('\n','')
    except:
        return value

red_wine_reviews['red_review'] = red_wine_reviews['red_review'].map(no_n)
red_wine_reviews.head()

,review_index,red_wine,red_user,red_review
0,0,La Sangre de Jonata 2006,Eric Mansell,Great Syrah. Inky purple. I prefer a bit dryer...
1,1,La Sangre de Jonata 2006,"""Levora""","Jonata is referred to as""blood Syrah"" for its ..."
2,2,La Sangre de Jonata 2006,Eric Mansell,"I wasn't searching for THE Syrah, but boom, I ..."
3,3,La Sangre de Jonata 2006,Dan Bodeker,Paired with filet mignon. Incredible.
4,4,La Sangre de Jonata 2006,Chado H,Very smooth and mellow.

In [22]:
del white_wine_reviews['Unnamed: 0.1']
del white_wine_reviews['Unnamed: 0']

white_wine_reviews.rename(columns={'index': 'review_index', 
                                 '0': 'white_wine', 
                                 '1': 'white_user', 
                                 '2': 'white_review'}, inplace=True)

white_wine_reviews['white_review'] = white_wine_reviews['white_review'].map(no_n)

In [23]:
white_wine_reviews.iloc[:,3].head()

0    Excellently balanced chard-meyer lemon and nec...
1    $63. Glazer's distributes. Very high end site....
2    High acid, drank pre-release.  Will wait a yea...
3    Has a extract texture. Slightly nutty almost l...
4    Very acidic. Had June 2013. Malolactic. Nothin...
Name: white_review, dtype: object

# Save cleaned data sets to csv to work on EDA:

In [24]:
white_wine_details.to_csv(path_or_buf='/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Clean_Data/white_wine_details_clean.csv', encoding='utf8')
white_wine_reviews.to_csv(path_or_buf='/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Clean_Data/white_reviews_clean.csv', encoding='utf8')

In [25]:
red_wine_details.to_csv(path_or_buf='/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Clean_Data/red_wine_details_clean.csv', encoding='utf-8')
red_wine_reviews.to_csv(path_or_buf='/Users/divyasusarla/Desktop/DSI-SF-2-divyasusarla/Capstone/Clean_Data/red_reviews_clean.csv', encoding='utf-8')